<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Biografia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
<ion-card>
  <ion-card-header>
    <ion-card-title>Luis Mario Guaygua Roman</ion-card-title>
    <ion-card-subtitle>Niñez</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Naci en Quito el 24 de junio del 2003, creci en el barrio Carapungo en una casa verde de dos pisos, tengo una hermana mayor.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Luis Mario Guaygua Roman</ion-card-title>
    <ion-card-subtitle>Adolecencia</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Durante mi etapa de colegio, estudie en la unidad educativa fiscal San Francisco de Quito en donde pase varios momentos alegres de mi vida, asi como en donde conoci a varias amistades 
    que me acompañan a dia de hoy
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Eventos memorables</ion-card-title>
    <ion-card-subtitle>Etapa colegio</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.xxzJM5Xxbt7qXNnqiTx6eQHaFx?rs=1&pid=ImgDetMain" />
        </ion-thumbnail>
        <ion-label>El dia en que fuimos de excursion al zoologico de guayabamba</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.Jc9r3viMjJ4RcwbjZ-_OpQHaEa?rs=1&pid=ImgDetMain" />
        </ion-thumbnail>
        <ion-label>Cuando aparecimos en una obra de teatro para conseguir un premio que daba la escuela</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.c1fcaf1f041d64e6e64190a4015d04c6?rik=sWOd0Lne1PMr1Q&pid=ImgRaw&r=0" />
        </ion-thumbnail>
        <ion-label>Cuando ganamos el campeonato de futbol del colegio y nos dieron colas a todo el curso</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/OIP.UOkJkxJXiBOCx-Qor3J3qwHaEK?rs=1&pid=ImgDetMain" />
        </ion-thumbnail>
        <ion-label>Cuando quedamos segundos en el campeonato de basquet por 3 puntos</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Luis Mario Guaygua Roman</ion-card-title>
    <ion-card-subtitle>Actualidad</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Ahora me encuentro cursando el ultimo semestre de la carrera de desarrollo de software,
    lo cual me hace mucha ilusion, durante mi estadia aqui conosi a varias personas y tuve 
    muschos buenos y malos momentos, en el futuro espero poder conseguir un buen trabajo y poder vivir feliz
    y viajar un monton.
  </ion-card-content>
</ion-card>

</ion-content>
